*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    position: absolute;
    width: 100%;
}
h1{
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav h4{
    color: #fff;
}

nav > a{
    margin-left: 5rem;
    font-size: larger;
    color: #fff;
}
nav > a:hover{
    border-bottom: 2px solid aqua;        
}

#user:hover{
    color: aqua;
}

.aysha{
    color: aqua;
    border-bottom: 2px solid aqua;
}

#user{
    font-size: 2rem;
    color: #fff;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    background: #000;
}

#home{
    box-shadow: 0 0 100px black inset;
}

.container > h3:first-child{
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}


.content{
    display: flex;
    align-items: center;
    color: rgb(54, 201, 54);
}

.player{
    transform: translateY(-10rem);
    display: flex;
    align-items: center; 
    color: #fff;
}

.player i:nth-child(1){
    font-size: 4rem;
}

.play input[type="range"]{
    width: 60rem;
    height: 0.2rem;
}

.box{
    display: flex;
    align-items: center;
    background: #1a1a1a;
    border-radius: 0.5rem;
    overflow: hidden;
    padding-right: .5rem;
}

.episode .image{
    position: relative;
}

.episode .image i{
    font-size: 4rem;
    color: rgb(41, 193, 41);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: 0.5s;
}

.image i:hover{
    background-color: rgb(54, 201, 54);
    color: #fff;
}

.box_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;

}

.box_items h1{
    font-size: 2.8rem;
    /* margin-left: 2rem; */
}

.box_items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;

}


.box_items h3,
.box_items p{
    color: #fff;
}

.box img{
    width: 20rem;
}

.cards{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(200px, 48%));
    justify-content: center;
    align-items: center;
    grid-gap: 2.5rem;
}

.card_item{
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
}

.card_content{
    color: #fff;
    overflow: hidden;
    padding: 1rem 2rem;
}

.card_content img{
    width: 100%;
}

.about{
    background: #1a1a1a;
    margin-top: 3rem;
    text-align: center;
    color: #fff;
}

.mail form{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

form input{
    width: 30rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    background: #282828;
}

form button{
    width: 15rem;
    border: none;
    background: rgb(54, 201, 54);
    font-size: 2rem;
}

form button i{
    color: #fff;
}

.main{
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 2rem 9%;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.main {
    color: #fff;
}

.ab1 ul{
    list-style: none;
}

.ab1 a{
    color: #fff;
}

.div3 i{
    font-size: 2rem;
    color: #fff;
}

    #menu_icon{
        color: #fff;
        font-size: 2rem;
        display: none;
    }

    #music_player{
        padding: 1.5rem 3rem;
        position: fixed;
        bottom: 0;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }

    .mini_player{
        position: fixed;
        background: #ff0101;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        width: 100%;
        padding-bottom: 20rem;
        transform: translateY(100%);
        transition: 0.8s;
    }

    .active{
        transform: translateY(0);
    }

    .mini_player .control i{
        color: #fff;
        font-size: 3rem;
    }

    .form_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .form form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        border: 1px solid white;
        padding: 1rem 1rem;
        border-radius: 1rem;
    }

    .form .first{
        display: flex;
        width: 100%;
        gap: 1.5rem;
    }

    .form form input,
    .form form textarea{
        width: 100%;
        border-radius: 1rem;
        background: #282828;
        resize: none;
        border: none;
    }

    .form form textarea{
        padding: 1rem;
        font-size: 1rem;
    }

    .contact_container{
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media(max-width: 1080px) {
        html{
            font-size: 50%;
        }
        header nav{
            display: none;
        }
        
        #menu_icon{
            display: flex;
        }
        
        .player{
            display: none;
        }
        #music_player{
            display: block;
        }
    }

    @media(max-width: 975px){
        .box{
            flex-direction: column;
        }
    }
        
    @media(max-width: 768px){
            html{
                font-size: 50%;
            }
            
    }
    .cover{
        width: 400px;
        height: 400px;
    /* background: #1a1a1a; */
    color: #fff;
    display: flex;
        

    }
    .pic{
        width: 400px;
        height: 200px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    
    .cover1{
        width: 600px;
        height: 800px;
    background:aqua;
    color: #fff;
    display: flex;
        

    }
    .pic1{
        width: 400px;
        height: 200px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .pic3{
        width: 400px;
        height: 300px;
    }
    
    .about1 {
        padding-top: 9%;
        color:grey;
    
   margin-left: 10%;
    font-size: larger;
    }

.circle{
    background-color: transparent;
    border: none;
}
.abcd{
    font-size: xx-large;
    background-color: transparent;
    border: none;
    display: flex;
    color: lawngreen;
}